.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    width: 100vw;
    font-family: 'Roboto';
    font-size: 18px;
  }
  .website-logo {
    min-height: 40px;
    max-height: 40px;
    min-width: 100px;
    max-width: 100px;
    margin-left: 10px;
    padding-top: 30px;
  }
  .website-logo-button {
    background-color: transparent;
    outline: none;
    border-width: 0;
  }
  .logo{
    align-self: center;
  }
  .nav-links a {
    margin: 0 1em;
    color: white;
    text-decoration: none;
  }
  .logout {
    padding: 10px;
    background-color: #4f46e5;
    border-width: 0;
    border-radius: 5px;
    color: #ffffff;
    width: 100px;
    margin-right: 20px;
  }
  .logout:hover{
    background-image: linear-gradient(to bottom,blue,#4f46e5);
  }
  .sm-display {
    display: none;
  }
  .icon{
    font-size: 45px;
    color: #fff;
  }
  .link:hover{
    color: #4f46e5;
  }
  @media screen and (max-width: 767px) {
    .sm-display {
      width: 50vw;
      margin-left: auto;
      display: flex;
      justify-content: space-around;
    }
  }
  @media screen and (max-width: 767px) {
    .nav-links {
      display: none;
    }
    .logout {
      display: none;
    }
  }
  @media screen and (max-width: 767px) {
    .navbar {
      display: flex;
      justify-content: space-around;
    }
  }
  @media screen and (max-width : 567px){
    .website-logo{
      width: 500px;
    }
  }